name: CI

on:
  push:
    branches:
      - main
    tags:
      - '*'
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - uses: actions/cache@v4.3.0
      with:
        path: ~/.gradle/caches
        key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*') }}
        restore-keys: |
          ${{ runner.os }}-gradle-
    - uses: actions/setup-java@v5
      with:
        distribution: 'temurin'
        java-version: '17'
    - name: Setup Android problem matchers
      uses: jonasb/android-problem-matchers-action@v1
    - name: Test
      run: ./gradlew test
  instrumented-test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/cache@v4.2.0
      with:
        path: ~/.gradle/caches
        key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*') }}
        restore-keys: |
          ${{ runner.os }}-gradle-
    - uses: actions/setup-java@v5
      with:
        distribution: 'temurin'
        java-version: '17'
    - name: Enable KVM group perms
      run: |
        echo 'KERNEL=="kvm", GROUP="kvm", MODE="0666", OPTIONS+="static_node=kvm"' | sudo tee /etc/udev/rules.d/99-kvm4all.rules
        sudo udevadm control --reload-rules
        sudo udevadm trigger --name-match=kvm
    - name: Setup Android problem matchers
      uses: jonasb/android-problem-matchers-action@v1
    - name: Test
      uses: reactivecircus/android-emulator-runner@v2
      with:
        api-level: 35
        arch: x86_64
        script: ./gradlew connectedCheck
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - uses: actions/cache@v4.3.0
      with:
        path: ~/.gradle/caches
        key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*') }}
        restore-keys: |
          ${{ runner.os }}-gradle-
    - uses: actions/setup-java@v5
      with:
        distribution: 'temurin'
        java-version: '17'
    - name: Setup Android problem matchers
      uses: jonasb/android-problem-matchers-action@v1
    - name: Lint
      run: ./gradlew lint -PisCI=true
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - uses: actions/cache@v4.3.0
      with:
        path: ~/.gradle/caches
        key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*') }}
        restore-keys: |
          ${{ runner.os }}-gradle-
    - uses: actions/setup-java@v5
      with:
        distribution: 'temurin'
        java-version: '17'
    - name: Setup Android problem matchers
      uses: jonasb/android-problem-matchers-action@v1
    - name: Build
      run: |
        ./gradlew assemble
    - name: Sign APK
      if: env.KEYSTORE_FILE
      env:
        KEYSTORE_FILE: ${{ secrets.KEYSTORE_FILE }}
      run: |
        $ANDROID_SDK_ROOT/build-tools/34.0.0/zipalign -v -p 4 app/build/outputs/apk/release/app-release-unsigned.apk app/build/outputs/apk/release/app-release-unsigned-aligned.apk
        echo "${{ secrets.KEYSTORE_FILE }}" | base64 -d > keystore.jks
        echo "${{ secrets.KEYSTORE_PASSWORD }}" | $ANDROID_SDK_ROOT/build-tools/34.0.0/apksigner sign --ks keystore.jks --out app-release.apk app/build/outputs/apk/release/app-release-unsigned-aligned.apk
        $ANDROID_SDK_ROOT/build-tools/34.0.0/apksigner verify app-release.apk
    - name: Archive production APK
      uses: actions/upload-artifact@v4
      if: env.KEYSTORE_FILE
      env:
        KEYSTORE_FILE: ${{ secrets.KEYSTORE_FILE }}
      with:
        name: apk
        path: app-release.apk
